
-- Update the following in .env file
LLM_BINDING=openai
LLM_MODEL=gpt-4o
LLM_BINDING_HOST=https://api.openai.com/v1
LLM_BINDING_API_KEY='YourKey'
OPENAI_API_KEY='YourKey'
EMBEDDING_BINDING=openai
LLM_BINDING_HOST=https://api.openai.com/v1
EMBEDDING_MODEL=text-embedding-3-small  
EMBEDDING_DIM=1536
